<header>
	<div class="header-content">
		<div class="header-content-inner">
		</div>
	</div>
</header>

<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">easyOrder has what you need!</h2>
				<hr class="light">
				<p class="text-faded">Everything brought to you in a few touches! Bringo has the sole purpose of bringing you whatever you need within the matter of minutes.
				Everything in the shortest time possible. From a quick market shopping to a bouquet of flowers. Even if you forgot your coursework at home, you can ask the other Bringos grab it for you.</p>
			</div>
		</div>
	</div>
</section>	