<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EasyOrder</title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Tangerine" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">

    <!-- Theme CSS -->
    <link href="/static/css/main.css" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <style>
        {% block customCSS %}
        {% endblock %}

        html, body {
            overflow-x: hidden;
        }

        body {
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-family: 'Open Sans', sans-serif;
            background-color: #191F26;
            text-align: center;
            overflow-x: hidden;
            margin: 0px;
            font-size: 24px;
            color: #ededed;
        }

        h1 {
            color: white;
            font-family: 'Open Sans', serif;
            font-size: 27px;
            font-weight: 400;
            margin: 5px;
        }

        a {
            text-decoration: none;
            color: white;
            text-shadow: 0px 0px 27px rgba(155, 150, 150, 0.69);
        }

        .loader {
            border: 16px solid grey; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 80px;
            height: 80px;
            animation: spin 2s linear infinite;
            margin: 50px;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        @media (min-width: 768px) {
            .modal-custom {
                width: 350px;
            }

            .dropdown:hover .dropdown-menu {
                opacity: 0.4;
                display: block;
                margin-top: 0;
            }
        }

    </style>
</head>
<body ng-app="mainApp" id="page-top">

<nav style="z-index: 20;" id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><h1 style="margin-top: 10px;">
              <!-- <img src="static/img/logo.png" width="26px" height="26" style="margin-bottom: 7px; opacity: 0.7;"> --> EasyOrder</h1></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 0.666667px;">
            <ul class="nav navbar-nav navbar-right">
                {% if user and not user.is_anonymous %}
                    <li style="color: black !important;" class="dropdown" data-hover="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
					<span style="font-size: 20px; padding: 15px;{% if request.path == '/' %}color: grey !important;{% endif %}">
					{{ user.get_full_name|default:user.username }} <i class="fa fa-chevron-down" aria-hidden="true"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile"><span
                                    style="font-size: 20px; "><i class="fa fa-user-circle-o" aria-hidden="true"
                                                                 style="font-size: 20px; margin-right:15px;"></i> My Account</span></a>
                            </li>
                            {% if not user.is_anonymous and restaurant %}
                                <li><a href="/shoporders"><span
                                        style="font-size: 20px; "><i class="fa fa-cutlery" aria-hidden="true"
                                                                     style="font-size: 20px; margin-right:15px;"></i> My Restaurant</span></a>
                                </li>
                            {% endif %}
                            <li><a href="{% url 'auth:logout' %}?next={{ request.path }}"><span
                                    style="font-size: 20px;"><i class="fa fa-power-off" aria-hidden="true"
                                                                style="font-size: 20px; margin-right:15px;"></i> Logout</span></a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="#" data-toggle="modal" data-target="#myModal"><span
                            style="font-size: 22px; padding: 15px;{% if request.path == '/' %}color: grey !important;{% endif %}"><i class="fa fa-key"
                                                                                     aria-hidden="true"></i> Login</span></a>
                    </li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

{% block content %}{% endblock %}

{% if user.is_anonymous %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-custom" role="document">
            <div style="background-color:rgba(239, 239, 239, 0.9);" class="modal-content">
                <div class="modal-body">
                    <center>
                        <div hidden id="loader" class="loader"></div>
                    </center>
                    <div id="login-body">
                        <ul style="font-size: 16px;" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#home" aria-controls="home" role="tab"
                                   data-toggle="tab"><i class="fa fa-user-circle-o" style="margin-right: 3px;"
                                                        aria-hidden="true"></i>
                                    User {% if request.path != '/' %} Login {% endif %}</a>
                            </li>
                            {% if request.path == '/' %}
                                <li role="presentation">
                                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"
                                       style="margin: 0"><i
                                            style="margin-right: 3px;" class="fa fa-key" aria-hidden="true"></i>
                                        Restaurant</a>
                                </li>
                            {% endif %}
                        </ul>
                        <!-- Tab panes -->
                        <div style="background-color: rgba(255, 255, 255, 0); padding: 10px; border-radius: 5px;"
                             class="tab-content">

                            <div style="background-color:rgba(239, 239, 239, 0);" role="tabpanel"
                                 class="tab-pane active" id="home">
                                <div id="fb_button">
                                    <br/>
                                    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"
                                       id="connect"><img
                                            src="/static/img/login/fb_login_button.png" width="300px"/></a>
                                </div>
                            </div>
                            {% if request.path == '/' %}
                                <div style="background-color:rgba(239, 239, 239, 0);" role="tabpanel"
                                     class="tab-pane" id="profile">
                                    <form action="" method="post">
                                        <br/>
                                        <p style="color:black; float: left;">Restaurant owners only.</p>
                                        {% csrf_token %}
                                        {{ form_rest_login }}
                                        <br/>
                                        <input style="float: right; margin-left: 8px;" value="Login" type="submit"
                                               class="btn btn-primary">
                                        <button style="float: right" class="btn btn-warning">Help</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endif %}

{% block footerscripts %}{% endblock %}

{% if user.is_anonymous %}
    <script>
        var fb_connect = document.getElementById('connect');
        fb_connect.onclick = connecting;

        function connecting() {
            var loader = document.getElementById('loader');
            var body = document.getElementById('login-body');
            var login_header = document.getElementById('login_header');
            loader.removeAttribute('hidden');
            body.style.display = 'none';
        }
    </script>
{% endif %}
<!-- Required JavaScripts -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>
    var App = angular.module('mainApp', []);

    App.config(function ($interpolateProvider) {
        $interpolateProvider.startSymbol('//');
        $interpolateProvider.endSymbol('//');
    });
</script>
</body>