{% extends "base.html" %}


{% block content %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <div><br /><a href="#" id="connect"><img src="/static/img/login/fb_login_button.png" width="300px"/></a></div>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">EasyOrder has what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Order straight from your smartphone or computer without the hassle of waiting for menus</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

