{% extends "base.html" %}

{% block customCSS %}

    h2,h3{color: dimgray;}

    p { margin-left: 5px; }

    .form-control {
    background-color: rgba(0,0,0,0.5);
    height: 35px;
    font-size: 16px;
    color: white;
    border: none;
    }

    .search {
    height: 35px;
    font-size: 18px;
    }

    .transparentClass {
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    }

    .transparentClassRegister {
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    height: 25px;
    font-size: 16px;
    }

    input::-webkit-input-placeholder {
    color: white !important;
    opacity: 0.8 !important;
    }

    .pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
    }
    .modal{
    z-index: 20;
    }
    .modal-backdrop{
    z-index: 10;
    }​

    .menu-section-container{
    margin: 20px 0px;
    padding: 10px 0px;
    display:block;
    }

    .menu-section {
    width: 100%;
    column-count: 2;
    display: block;
    }
    .menu-sectio
    n-title {
    font-size: 100%;
    padding: 5px 0px;
    }

    .menu-item-container {
    width:100%;
    display:block;
    margin: 5px 0px;
    padding: 5px 0px;
    -webkit-column-break-inside: avoid;
    border-bottom: 1px rgba(200,200,200,0.5);
    border-bottom-style: solid;
    }

    .menu-item{
    display:flex;
    }

    .menu-item-title {
    font-size: 80%;
    font-weight: bold;
    }

    .menu-item-info {
    width: 90%;
    display: block;
    }

    .menu-item-price {
    white-space: nowrap;
    font-size: 80%;
    font-weight: bold;
    }

    .menu-item-desc {
    font-size: 60%;
    }

    .menu-item-options{
    display:inline;
    font-size: 50%;
    font-weight: bold;
    }

    .menu-item-options-container {
    padding: 10px 0px 0px 0px;
    }

    .menu-item-option {
    display:flex;
    }

    .menu-item-option-name {
    width: 90%;
    }

    .menu-item-option-price {
    white-space: nowrap;
    }

{% endblock %}

{% block content %}


    <header style="background-color: white;">
        <div class="container">
            <div class="row">
                <form id="searchForm" action="/place" method="GET">
                    <div class="col-md-12" style="padding-bottom: 20px; padding-top: 80px;">
                        <div class="input-group">
                         <span class="input-group-addon transparentClass"><i class="fa fa-cutlery fa-lg"
                                                                             aria-hidden="true"></i></span>
                            <input style="height: 60px; font-size: 25px" class="form-control" id="location"
                                   type="text"
                                   placeholder="Tell us your destination." required/>
                            <span style="border: 2px white; background-color: rgba(94, 184,92,0.93);cursor: pointer;"
                                  class="input-group-addon">
                                <input style="width: 100%; height: 100%; padding-right: 50px; border: 2px white; background-color: rgba(94, 184,92,0.0);padding-left: 50px; color: white; font-size: 28px;"
                                       type="submit" id="submit" value="Search" required/></span>
                        </div>
                        <input type="hidden" id="location_id" name="place_id" value="">
                    </div>
                    <div style="opacity: 0.8 !important; padding-bottom: 5px;" class="col-md-4">
                        <div class="input-group">
                    <span class="input-group-addon transparentClass"><i class="fa fa-users fa-lg"
                                                                        aria-hidden="true"></i></span>
                            <select class="form-control search" id="numPeople" name="numPeople" required>
                                <option value="" disabled selected hidden>Number of People</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10+</option>
                            </select>
                        </div>
                    </div>
                    <div style="opacity: 0.8 !important; padding-bottom: 5px;" class="col-md-4">
                        <div class="input-group">
					<span class="input-group-addon transparentClass" id="basic-addon1"><i class="fa fa-calendar fa-lg"
                                                                                          aria-hidden="true"></i></span>
                            <input class="form-control search" id="date" value="2017-01-01" type="date"
                                   name="date" required/>
                        </div>
                    </div>
                    <div style="opacity: 0.8 !important; padding-bottom: 5px;" class="col-md-4">
                        <div class="input-group">
                    <span class="input-group-addon transparentClass"><i class="fa fa-clock-o fa-lg"
                                                                        aria-hidden="true"></i></span>
                            <select class="form-control search" tabindex="3" id="time" aria-label="hour" name="time"
                                    required>
                                <option value="" disabled selected hidden>Select Arrival Time</option>
                                <option value="11:00">11:00 AM</option>
                                <option value="11:30">11:30 AM</option>
                                <option value="12:00">12:00 PM</option>
                                <option value="12:30">12:30 PM</option>
                                <option value="13:00">1:00 PM</option>
                                <option value="13:30">1:30 PM</option>
                                <option value="14:00">2:00 PM</option>
                                <option value="14:30">2:30 PM</option>
                                <option value="15:00">3:00 PM</option>
                                <option value="15:30">3:30 PM</option>
                                <option value="16:00">4:00 PM</option>
                                <option value="16:30">4:30 PM</option>
                                <option value="17:00">5:00 PM</option>
                                <option value="17:30">5:30 PM</option>
                                <option value="18:00">6:00 PM</option>
                                <option value="18:30">6:30 PM</option>
                                <option value="19:00">7:00 PM</option>
                                <option value="19:30">7:30 PM</option>
                                <option value="20:00">8:00 PM</option>
                                <option value="20:30">8:30 PM</option>
                                <option value="21:00">9:00 PM</option>
                                <option value="21:30">9:30 PM</option>
                                <option value="22:00">10:00 PM</option>
                                <option value="22:30">10:30 PM</option>
                                <option value="23:00">11:00 PM</option>
                                <option value="23:30">11:30 PM</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>


            <div style="background-color: rgba(0,0,0,0.5); border-radius: 10px; margin-top: 15px; padding: 0px"
                 class="col-md-12">
                {% if not user.is_anonymous and is_available == 'true' %}
                    <div id="alert" style="margin: 20px;" class="alert alert-success alert-dismissible fade in"
                         role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 id="countdown-text" style="margin: 0px;">Your table has been reserved until <span
                                id="countdown">5:00</span>.
                        </h4>						
                    </div>
					<div id="alert_order" style="margin: 20px; display:none;" class="alert alert-danger alert-dismissible fade in"
                         role="alert">
						 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
						 <h4 id="order_empty_error" style="margin: 0px;">Your order is empty</h4>
					</div>
                {% elif user.is_anonymous %}
                    <div id="alert" style="margin: 20px;" class="alert alert-warning alert-dismissible fade in"
                         role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 id="countdown-text" style="margin: 0px;">You need to login first to start ordering.
                        </h4>
                    </div>
                {% else %}
                    <div id="alert" style="margin: 20px;" class="alert alert-danger alert-dismissible fade in"
                         role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4 id="countdown-text" style="margin: 0px;">Restaurant is currently not accepting orders from
                            EasyOrder.
                        </h4>
                    </div>
                {% endif %}

                <div class="col-md-3" style="padding: 0">
                    <img id="place_photo" style="padding-top: 10px; border-radius: 15px;" width="250"
                         src=""/>
                </div>
                <div style="text-align: left; margin-left: 0" class="col-md-6">
                    <h1 id="place_name" style="margin: 0 5px 0 0; padding-top: 18px;"> Restaurant Name </h1>
                    <h3 id="place_type" style="margin: 0 5px 0 0;"> Restaurant </h3>
                    {% autoescape off %}
                        <p style="margin: 0; margin-top: 90px; margin-bottom: 20px"><span
                                id="place_rating">Rating</span>
                            is currently {{ popularity }}.</p>
                    {% endautoescape %}
                </div>
                <div class="col-md-3 text-right">
                    <button class="btn btn-default" style="margin-right: 5px;"><i class="fa fa-heart"
                                                                                  aria-hidden="true"></i> Favourite
                    </button>
                    <button class="btn btn-default" style="margin-right: 15px;"><i class="fa fa-flag"
                                                                                   aria-hidden="true"></i> Report
                    </button>
                </div>
                <div style="text-align: left;" class="col-md-12">
                    <hr style="border-width:4px;border-color:rgba(255,255,255,1); margin-top: 0">
                    <div class="row">
                        <div class="col-md-6">
                            <h1> Location </h1>
                            <p id="place_addr"></p>

                            {% if not user.is_anonymous %}

                                <h1 style="margin-bottom: 10px;"> Reservation Details </h1>
                                <p><i class="fa fa-users" aria-hidden="true"></i> {{ num_people }} People
                                    <br/><i class="fa fa-calendar" aria-hidden="true"></i> {{ date }}
                                    <br/><i class="fa fa-clock-o" aria-hidden="true"></i> {{ time }}
                                </p>

                            {% endif %}

                        </div>
                        <div class="col-md-6">
                            <h1> Working Hours - Currently <span id="openNow"></span></h1>
                            <br/>
                            <p id="working_hours"> Not known. </p>
                        </div>
                    </div>
                    <hr style="border-width:4px;border-color:rgba(255,255,255,1);">

                    <h1>The Menu </h1>
                    {% if not user.is_anonymous %}
                        <p>
                            {% if menu %}
                                <div class="menu">
                                    {% for m,cats in menu.items %}
                                        {% for cat in cats %}
                                            {% for section in cat.category %}
                                                <div class="menu-section-container">
                                                    <div class="menu-section-title">{{ section.title }}</div>
                                                    <div class="menu-section">
                                                        {% for item in section.items %}
                                                            <div class="menu-item-container">
                                                                <div class="menu-item">
                                                                    <div class="menu-item-info row">
                                                                        <div class="col-md-2" style="margin-top: 5px;">
                                                                            <span id="count-{{ item.item_id }}"></span>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <div>
                                                                                <div id="itemTitle-{{ item.item_id }}"
                                                                                     class="menu-item-title">{{ item.item_title }}</div>
                                                                            </div>
                                                                            {% if item.item_description %}
                                                                                <div class="menu-item-desc">{{ item.item_description }}</div>
                                                                            {% endif %}</div>
                                                                    </div>
                                                                    <div id="price-{{ item.item_id }}"
                                                                         class="menu-item-price">£{{ item.item_price }}</div>
                                                                    {% if not user.is_anonymous and is_available == 'true' %}
                                                                        <span>
																		<button class="itemBtn"
                                                                                id="addItem-{{ item.item_id }}"
                                                                                style="margin-left: 5px; height:auto; width:auto; background: transparent; border:none"><i
                                                                                class="fa fa-plus-circle"
                                                                                aria-hidden="true"
                                                                                style="color:#5cb85c;"></i></button></span>
                                                                        <span>
																		<button class="itemRemBtn"
                                                                                id="removeItem-{{ item.item_id }}"
                                                                                style="height:auto; width:auto; background: transparent; border:none"><i
                                                                                class="fa fa-minus-circle"
                                                                                aria-hidden="true"
                                                                                style="color:#d9534f;"></i></button></span>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <hr>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p>No menu exists for this restaurant.</p>
                            {% endif %}
                        </p>
                        {% if not user.is_anonymous and is_available == 'true' %}
                            <button id="orderBtn" type="button" class="btn btn-primary btn-success" style="margin-bottom:15px; float: right;"><i
                                    class="fa fa-check"
                                    aria-hidden="true"></i>
                                Complete Your
                                Order
                            </button>
                        {% endif %}
                    {% else %}
                        <p>Please log in to check out the menu, book your place and order your food!</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <br/>
    </header>

    <div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="checkoutModalLabel">
        <div style=" width: 640px;" class="modal-dialog modal-custom" role="document">
            <div style="background-color:rgba(239, 239, 239, 0.9);" class="modal-content">
                <div class="modal-body">
                    <h3><b>Checkout</b></h3>
                    <div class="row">
                        <div style="text-align: left; color: black;" class="col-md-6">
                            <h3> Customer Details</h3>
                            <table class="table" style="color: black; margin-left: auto;margin-right: auto;">
                                <tr>
                                    <th>Name</th>
                                    <td>{{ user.get_full_name|default:user.username }}</td>
                                </tr>
                            </table>
                            <div style="text-align: left; color: black;" class="col-md-">
                                <h3> Reservation Details</h3>
                                <table class="table" style="color: black; margin-left: auto;margin-right: auto;">
                                    <tr>
                                        <th>People</th>
                                        <td>{{ num_people }}</td>
                                    </tr>
                                    <tr>
                                        <th>Time</th>
                                        <td>{{ time }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div style="text-align: right;" class="col-md-6">
                            <h3> Order Details </h3>
                            <table id="orderTable" class="table"
                                   style="color: black; margin-left: auto;margin-right: auto;">
                                <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td></td>
                                    <th>Total</th>
                                    <td id="order_total"></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="text-right" style="margin-right:20px;">
                            <button id="modify_order" type="button" class="btn btn-warning" style="margin-bottom:15px"><i
                                    class="fa fa-pencil"
                                    aria-hidden="true"></i>
                                Modify Order
                            </button>
                            <button id="cancel_order" type="button" class="btn btn-danger" style="margin-bottom:15px"><i
                                    class="fa fa-ban"
                                    aria-hidden="true"></i>
                                Cancel Order
                            </button>
                        </div>
                    </div>
                    <hr/>
                    <!-- Nav tabs -->
                    <ul style="font-size: 16px;" class="nav nav-tabs" role="tablist">
                        <li style="background-color: rgba(255, 255, 255, 0.25); border-top-right-radius: 5px;  border-top-left-radius: 5px;"
                            role="presentation" class="active">
                            <a href="#home" aria-controls="home" role="tab"
                               data-toggle="tab"><i class="fa fa-cutlery" style="margin-right: 3px;"
                                                    aria-hidden="true"></i>
                                Pay in Store</a></li>
                        <li style="background-color: rgba(255, 255, 255, 0.25); border-top-right-radius: 5px;  border-top-left-radius: 5px;"
                            role="presentation">
                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"
                               style="margin: 0"><i
                                    style="margin-right: 3px;" class="fa fa-credit-card-alt" aria-hidden="true"></i>
                                Pay
                                Online</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div style="background-color: rgba(255, 255, 255, 0.25); padding: 10px; border-radius: 5px;"
                         class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <br/>
                            <p style="text-align: left; color: dimgrey;">If you wish to pay in store, your booking
                                details
                                will be sent to restaurant for confirmation.
                                We will you notify you by e-mail once your booking gets accepted.</p>
                            <div class="text-right">
                                <form id="order_form" method="post" action="?">
                                    {% csrf_token %}
                                    {{ order_form }}
                                </form>
                                <button id="confirm_order" type="button" class="btn btn-success"><i class="fa fa-check-circle"
                                                                                 aria-hidden="true"></i> Confirm
                                    Booking
                                </button>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
						<span id="payment_error" style="color:red"></span>
                            <br/>							
                            <form id="checkout-form">
                                <p style="color: dimgray; text-align: left;">Credit / Debit Card Payment</p>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <input type="text" class="form-control" id="cardholder-name"
                                               placeholder="Card Holder Name">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input class="form-control" id="card-number" placeholder="Card Number"/>
                                    </div>
                                    <div class="form-group col-xs-6 col-md-4">
                                        <select class="form-control" id="exp-date">
                                            <option>Month</option>
                                            <option value="01">Jan (01)</option>
                                            <option value="02">Feb (02)</option>
                                            <option value="03">Mar (03)</option>
                                            <option value="04">Apr (04)</option>
                                            <option value="05">May (05)</option>
                                            <option value="06">June (06)</option>
                                            <option value="07">July (07)</option>
                                            <option value="08">Aug (08)</option>
                                            <option value="09">Sep (09)</option>
                                            <option value="10">Oct (10)</option>
                                            <option value="11">Nov (11)</option>
                                            <option value="12">Dec (12)</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-xs-6 col-md-4">
                                        <select class="form-control" id="exp-date">
                                            <option value="17">2017</option>
                                            <option value="18">2018</option>
                                            <option value="19">2019</option>
                                            <option value="20">2020</option>
                                            <option value="21">2021</option>
                                            <option value="22">2022</option>
                                            <option value="23">2023</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-xs-6 col-md-4">
                                        <input class="form-control" placeholder="CVV" id="cvv"/>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <p style="color: dimgrey;">3D Secure checkout will be used to verify the
                                        payment.</p>
                                    <button id="payment_order" type="button" class="btn btn-success"> Currently Not Supported
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block footerscripts %}
    <script>
        var final_order = null;


        // Search hit
        $('#location').keydown(function (e) {
            if (e.which == 13 && $('.pac-container:visible').length) return false;
        });

        //Menu Button
        var item = {};

        //for (var i = 0; i < 100; i++) item[i] = 0;
        $(".itemBtn").click(function () {
            var id = $(this).attr('id').split('-')[1];
            if (!(id in item)) {
                item[id] = 1;
            }
            else
                item[id] = item[id] + 1;
            if (item[id] > 0) {
                $("#count-" + id).fadeOut("fast");
                setTimeout(function () {
                    $("#count-" + id).text(item[id] + " x ")
                }, 300);
                $("#count-" + id).fadeIn("slow");
            }

        });

        $(".itemRemBtn").click(function () {
            var id = $(this).attr('id').split('-')[1];
            if (id in item && item[id] > 0) {

                item[id] = item[id] - 1;
                if (item[id] > 0) {
                    $("#count-" + id).text(item[id] + " x ");
                }
                else {
                    $("#count-" + id).text("");
                }

            }
        });

		//Modal close function
        $("#checkoutModal").on("hidden.bs.modal", function () {
            $("#orderTable").find('tbody').html("");
            final_order = null;
        });

        //Submit
        $("#orderBtn").click(function (e) {
            var order = {};
            var  total = 0;
            for (var i in item) {
                if (item[i] > 0) {
                    order[$("#itemTitle-" + i).text()] = $("#count-" + i).text();
                    var count = parseInt($("#count-" + i).text().substring(0, $("#count-" + i).text().length - 1));
                    var price = parseInt($("#price-" + i).text().substring(1));
                    var item_total = count * price;
                    total = total + item_total;

                    $("#orderTable").find('tbody').append('<tr class="remove"><td>' + $("#itemTitle-" + i).text() + '</td>' + '<td>' + $("#count-" + i).text() + '</td>' + '<td class="eachPrice">' + $("#price-" + i).text() + '</td>' + '</tr>');
                }
            }
            $("#order_total").html('£' + total);
            order['amount'] = total;
            final_order = order;
			//If the order is empty
			if(total == 0)
			{				
				$('#alert_order').toggle('slow');
			}
			else
			{
				$('#alert_order').toggle('hide');
				$('#checkoutModal').modal();
			}

        });
		
		//On Click sending data to backend
        $('#confirm_order').click(function(){

            $('#order_content').val(JSON.stringify(final_order));
            $('#order_people').val({{ num_people }});
            $('#order_date').val('{{ date }}');
            $('#order_time').val('{{ time }}');
            $('#order_restaurant_name').val('{{ location_id }}');
            $('#order_form').submit();
        });
		
		//Modify Order
		$("#modify_order").click(function(){
			$("#checkoutModal").modal('hide');
		});
		
		//Cancel Order
		$("#cancel_order").click(function(){
			$("#checkoutModal").modal('hide');
			location.reload();
		});
		

        // About the place
        var place_data = {{ google_place_data | safe }}['result'];
        var placeName = place_data['name'];
        var photoSrc = place_data['photos'][0]['photo_reference'];
        var placeType = place_data['types'][0].charAt(0).toUpperCase() + place_data['types'][0].slice(1);
        var placeAddr = place_data['adr_address'];
        var workingHours = place_data['opening_hours']['weekday_text'];
        var openNow = place_data['opening_hours']['open_now'];

        var workingHoursText = "";
        jQuery.each(workingHours, function () {
            workingHoursText += this + '<br />';
        });

        document.getElementById('place_name').innerHTML = placeName;
        document.getElementById('place_photo').src = photoSrc;
        document.getElementById('place_type').innerHTML = placeType;
        document.getElementById('place_addr').innerHTML = placeAddr;
        document.getElementById('working_hours').innerHTML = workingHoursText;

        if (openNow == 'true') {
            openNow = '<b style="color:red">Closed</b>';
        } else {
            openNow = '<b style="color:green">Open</b>';
        }
        document.getElementById('openNow').innerHTML = openNow;

        var placeRating = '<b style="color:red">bad</b>';
        if (place_data['rating'] >= 4.5) {
            placeRating = '<b style="color:green">excellent</b>';
        } else if (place_data['rating'] >= 4) {
            placeRating = '<b style="color:darkgreen">good</b>';
        } else if (place_data['rating'] >= 3) {
            placeRating = '<b style="color:orange">fair</b>';
        }
        var placeRatingText = 'This place has been rated as ' + placeRating + ',';
        document.getElementById('place_rating').innerHTML = placeRatingText;


        {% if not user.is_anonymous and is_available == 'true' %}
            // Countdown
            var upgradeTime = 300;
            var seconds = upgradeTime;
            function timer() {
                var days = Math.floor(seconds / 24 / 60 / 60);
                var hoursLeft = Math.floor((seconds) - (days * 86400));
                var hours = Math.floor(hoursLeft / 3600);
                var minutesLeft = Math.floor((hoursLeft) - (hours * 3600));
                var minutes = Math.floor(minutesLeft / 60);
                var remainingSeconds = seconds % 60;
                if (remainingSeconds < 10) {
                    remainingSeconds = "0" + remainingSeconds;
                }
                document.getElementById('countdown').innerHTML = minutes + ":" + remainingSeconds;
                if (seconds == 0) {
                    clearInterval(countdownTimer);
                    document.getElementById('countdown-text').innerHTML = "Your table booking has <b>expired</b>. ";
                    document.getElementById('alert').className = "alert alert-danger alert-dismissible fade in";
                } else {
                    seconds--;
                }
            }
            var countdownTimer = setInterval('timer()', 1000);
        {% endif %}

        // Set current date
        document.getElementById('date').value = new Date().toJSON().slice(0, 10);
        // Show current time only
        var date = new Date();
        var cTime = ( date.getHours() + '' + date.getMinutes());
        $("#time option").each(function () {
            var sTime = $(this).val().replace(":", "");
            if ((sTime < cTime)) {
                $(this).hide();
                $('#date').change(function () {
                    $("#time option").each(function () {
                        var sTime = $(this).val().replace(":", "");
                        if ((sTime < cTime)) {
                            $(this).show();
                        }
                    });
                });
            }
        });

        // Restaurant search
        function initSearch() {
            var input = (document.getElementById('location'));
            var options = {
                types: ['establishment']
            };

            var autocomplete = new google.maps.places.Autocomplete(input, options);
            autocomplete.addListener('place_changed', function () {

                var place = autocomplete.getPlace();
                $("#location_id").val(place.place_id);
            });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCinQHLTxOHgFXAFHjsftWjucn2cI3yWg&libraries=places&callback=initSearch"
            async defer>
    </script>
{% endblock %}
