{% extends "base.html" %}

{% block customCSS %}

    label{
    font-size: 20px;
    font-weight: 200;
    color: white;
    }

    #example_info, #example_previous, #example_next{
    font-size: 20px;
    font-weight: 200;
    color: white;
    }

    td{
    background-color: rgba(0, 2, 18, 0.25) !important;
    }

    .odd {
    background-color: rgba(0, 0, 0, 0.1) !important;
    }

    .even {
    background-color: rgba(0, 0, 0, 0.5) !important;
    }

    input[type='search']{
    font-size: 20px;
    font-weight: 200;
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 2, 18, 0.25);
    border: 2px black;
    }

    select {
    font-size: 20px;
    font-weight: 200;
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 2, 18, 0.25);
    border: 2px black;
    }

    .current {
    display: none !important;
    }

    h1 {
    font-size: 38px; font-weight: 200;
    }

    .block{
    background-color: rgba(0, 2, 18, 0.25);
    color: white; border-radius: 20px;
    padding: 15px;
    margin: 10px;
    }

    .menu_container {
    width: 50%;
    margin: 0 auto;
    padding: 20px 20px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    }
    .new-section, .new-item {
    border-radius: 20px;
    background-color: rgba(0, 2, 18, 0.25);
    border: 2px white;
    padding:10px;
    }
    .section {
    padding: 0px 0px 20px 0px;
    }
    .item {
    padding: 0px 0px 15px 0px;
    }
    .section-title {
    font-weight: bold;
    font-size: 140%;
    padding: 0px 0px 10px 0px;
    }
    .item-input-label {
    padding: 10px 0px 0px 0px;
    }
    .item-title {
    font-weight: bold;
    color: rgb(100,100,100);
    padding: 5px 0px 0px 0px;
    }
    .edit-delete-element {
    float:right;
    padding:5px;
    }

    .item-title {
    color: white;
    }

    input, textarea{
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(0, 2, 18, 0.25);
    border: 2px white;
    font-size: 18px;
    }

{% endblock %}

{% block content %}

    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet"
          type="text/css">
    <script src="static/js/menu_editor.js"></script>

    <header>
        <div class="header-content">
            <div class="container">

                <div class="container block" id="title">
                    <h1>{{ restaurant_name }}</h1>
                    <p style="margin-top: 8px;">You should keep your shop profile <b>up-to-date</b> for the best
                        customer experience.</p>
                </div>

                <div class="container block" id="settings">
                    <h1>Quick Statistics & Settings</h1>
                    <br/>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 text-left">
                            <p>Pending Orders: <span style="margin-left: 32px;">{{ pending_orders }}</span>
                                <br/>Accepted Orders: <span style="margin-left: 25px;">{{ accepted_orders }}</span>
                                <br/>Completed Orders: <span style="margin-left: 13px;">{{ completed_orders }}</span>
                                <br/>Total Orders: <span style="margin-left: 58px;">{{ total_orders }}</span>
                                <br/><br/>
                                <a href="#menu">
                                    <button id="menuButton" onclick="gotoMenuEditor()" class="btn btn-info"><i
                                            class="fa fa-map-o"
                                            aria-hidden="true"></i> <span
                                            style="margin-left: 6px;">Go to Menu Editor</span></button>
                                </a>

                        </div>
                        <div class="col-md-5">
                            <table style="padding: 5px; float: right">
                                <tbody>
                                <tr>
                                    <td style="background-color: transparent !important;"><span style="float: left;">Accept Orders</span>
                                    </td>
                                    <td style="background-color: transparent !important;">
                                        <div class="btn-group" style="float: right; margin: 10px;"
                                             data-toggle="buttons">
                                            <label id="accept_label" class="btn btn-success active"
                                                   style="opacity: 0.5; !important;">
                                                <span type="radio" name="options" autocomplete="off"
                                                > Yes </span>
                                            </label>
                                            <label id="not_accept_label" class="btn btn-danger"
                                                   style="opacity: 0.5; !important;">
                                                <span type="radio" name="options"
                                                      autocomplete="off"> No </span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: transparent !important;"><span
                                            style="text-align: left;">Popularity</span></td>
                                    <td style="background-color: transparent !important;">
                                        <div class="btn-group" style=" margin: 10px;" data-toggle="buttons">
                                            <label id="not_busy_label" class="btn btn-success active"
                                                   style="opacity: 0.5; !important;">
                                                <span type="radio" name="options" id="set_not_busy"
                                                      autocomplete="off"
                                                      checked> Not Busy</span>
                                            </label>
                                            <label id="busy_label" class="btn btn-warning"
                                                   style="opacity: 0.5; !important;">
                                                <span type="radio" name="options" autocomplete="off">
                                                Busy </span>
                                            </label>
                                            <label id="very_busy_label" class="btn btn-danger"
                                                   style="opacity: 0.5; !important;">
                                                <span type="radio" name="options"
                                                      autocomplete="off"> Very Busy </span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="container block" id="orders">
                    <h1>Live Orders</h1>
                    <br/>
                    <table id="example" class="display" width="100%" style="color: white">
                        <thead>
                        <tr style="color: white;">
                            <th>Order ID</th>
                            <th>Date</th>
                            <th>User</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </header>
    <section style="background-color: grey; margin: 0; padding: 5px"></section>
    <section style="background-color: rgba(179,184,180,0.33); min-height: 100%" class="text-primary" id="menu">
        <center>
            <div class="container">
                <h1><i class="fa fa-map-o" aria-hidden="true"></i> Le Menu Editor</h1>
                <p>Create your own menu here put it online in few clicks!</p>
                <div style="background-color: rgba(179,184,180,0.53); border-radius: 10px;" id="container"
                     class="menu_container">
                    <div id="menu_info_text" style="z-index: 5; overflow: hidden;"> Menu will appear here.
                        <p>You can start creating a menu by adding a new section.</p></div>
                    <div id="section-container">
                    </div>
                </div>
                <hr/>
                <div class="container new-section" style="width: 50%; text-align: left; padding: 5px !important;">
                    <input style="margin: 5px; color: white; float: left;" placeholder="New Section" type="text"
                           id="name-section" onfocus="$('#invalid-section').hide()">
                    <input style="margin: 5px; float: left; font-size: 16px; background-color: #4cb8a0; ;color: white; padding: 6px;"
                           type="button" id="add-section" value="Add Section"
                           onclick="new_section($('#name-section').val())">
                    <input type="button" id="submit"
                           style="margin: 5px; float: left; font-size: 16px; background-color: #3285b8; color: white; padding: 6px"
                           value="Save Menu"
                           onclick="convert_to_JSON()">

                    <p id="invalid-section"
                       style="margin: 15px; font-size: 20px;font-weight: 600;display:none;color:rgb(181,10,10);">
                        <br/> Invalid section
                        name.</p>

                </div>
            </div>
        </center>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel">
        <div class="modal-dialog">
            <div style="background-color:rgba(17,34,50,0.9);" class="modal-content">
                <div class="modal-header"><h1>Details for Order <span id="order_id_label">[###]</span></h1></div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 text-primary">
                            <span id="order-content"></span>
                            <hr/>
                        </div>
                        <div style="padding-top: 5px; margin: 6px; margin-left: 10px; float: left;">
                            <button id="acceptOrderButton" class="btn btn-warning">Accept Order
                            </button>
                            <button id="completeOrderButton" class="btn btn-success">
                                Complete Order
                            </button>
                            <button id="cancelOrderButton" class="btn btn-danger">Cancel Order
                            </button>
                        </div>
                        <div style="padding-top: 5px; margin: 6px; margin-right: 10px; float: right;">
                            <button class="btn btn-default"
                                    onclick="hideModal()">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerscripts %}
    <script>

        function hideModal() {
            $('#orderModal').modal('toggle');
        }

        var restaurant_id = {{id}};
        var menu_id = {{ menu_id }};

        $('#add-section').on('click', function () {
            $('#menu_info_text').hide();
        });

        function updateReq(data) {
            $.ajax({
                url: '/api/v1/restaurant/' + restaurant_id + '/',
                headers: {'X-HTTP-Method-Override': 'PATCH'},
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                dataType: 'json',
                processData: false
            });
        }

        function updateOrderStatus(orderID, status) {
            $.ajax({
                url: '/api/v1/order/' + orderID + '/',
                headers: {'X-HTTP-Method-Override': 'PATCH'},
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({"status": status}),
                dataType: 'json',
                processData: false
            });
        }

        $(document).ready(function () {

            if ("{{ restaurant_is_available | safe }}" == "True") {
                document.getElementById("accept_label").style.opacity = 1;
            } else {
                document.getElementById("not_accept_label").style.opacity = 1;
            }

            if ("{{ restaurant_pop | safe }}" == "0") {
                document.getElementById("not_busy_label").style.opacity = 1;
            } else if ("{{ restaurant_pop | safe }}" == "1") {
                document.getElementById("busy_label").style.opacity = 1;
            } else {
                document.getElementById("very_busy_label").style.opacity = 1;
            }

            $('#accept_label').on('click', function () {
                document.getElementById("accept_label").style.opacity = 1;
                document.getElementById("not_accept_label").style.opacity = 0.5;
                updateReq({'is_available': true});
            });
            $('#not_accept_label').on('click', function () {
                document.getElementById("accept_label").style.opacity = 0.5;
                document.getElementById("not_accept_label").style.opacity = 1;
                updateReq({'is_available': false});
            });

            $('#not_busy_label').on('click', function () {
                document.getElementById("not_busy_label").style.opacity = 1;
                document.getElementById("busy_label").style.opacity = 0.5;
                document.getElementById("very_busy_label").style.opacity = 0.5;
                updateReq({'popularity': 0});
            });
            $('#busy_label').on('click', function () {
                document.getElementById("not_busy_label").style.opacity = 0.5;
                document.getElementById("busy_label").style.opacity = 1;
                document.getElementById("very_busy_label").style.opacity = 0.5;
                updateReq({'popularity': 1});
            });
            $('#very_busy_label').on('click', function () {
                document.getElementById("not_busy_label").style.opacity = 0.5;
                document.getElementById("busy_label").style.opacity = 0.5;
                document.getElementById("very_busy_label").style.opacity = 1;
                updateReq({'popularity': 2});
            });

            var orders_table = $('#example').DataTable({
                "aaSorting": [[0, "desc"]],
                "columnDefs": [{
                    "targets": 4,
                    "render": function (data, type, full, meta) {
                        return '<span class="label label-' + data[1] + '">' + data[0] + '</span>';
                    }
                }, {
                    "targets": 5,
                    "render": function (data, type, full, meta) {
                        return "<button style='color: black' class='btn btn-secondary' data-toggle='modal' data-target='#orderModal' data-content='" + data[1] + "' data-orderid='" + data[0] + "'> See Details </button>";
                    }
                }]
            });

            displayOrders();
            setInterval(displayOrders, 10000);

            function displayOrders() {
                $.getJSON('/api/v1/rest_order/?format=json', function (response) {
                    var objects = response.objects;
                    orders_table.clear().draw();
                    for (var i in objects) {
                        var id = objects[i]['id'];
                        var content = JSON.parse(objects[i]['content']);
                        var date = objects[i]['reservation_date_time'];
                        var user_name = objects[i]['user']['username'];
                        var status = objects[i].status;
                        var label = {};

                        switch (status) {
                            case 0:
                                label.class = 'info';
                                label.text = 'Pending';
                                break;

                            case 1:
                                label.class = 'warning';
                                label.text = 'Active';
                                break;

                            case 2:
                                label.class = 'danger';
                                label.text = 'Cancelled';
                                break;

                            case 3:
                                label.class = 'success';
                                label.text = 'Completed';
                                break;
                        }
                        orders_table.row.add([id, date, user_name, objects[i]['amount'], [label.text, label.class], [objects[i]['id'], JSON.stringify(content)]]).draw();

                    }
                });
            }

            $('#orderModal').on('show.bs.modal', function (e) {

                var orderID = e.relatedTarget.dataset['orderid'];
                var orderContentData = e.relatedTarget.dataset['content'];

                $('#acceptOrderButton').attr('data-orderid', orderID);
                $('#completeOrderButton').attr('data-orderid', orderID);
                $('#cancelOrderButton').attr('data-orderid', orderID);

                // Populate order table
                orderContentData = JSON.parse(orderContentData);
                var orderContent = '<table width="100%"><tbody><tr><th>Item</th><th>#</th></tr>';
                var no = 0;
                jQuery.each(orderContentData, function (i, val) {
                    if (i !== "amount") {
                        if (no % 2 == 0) {
                            orderContent += "<tr style='background-color: rgba(0,0,0,0.18) !important;'><td>" + i + "</td>" + "<td>" + val.replace("x", "") + "</td></tr>";
                        } else {
                            orderContent += "<tr><td>" + i + "</td>" + "<td>" + val.replace("x", "") + "</td></tr>";
                        }
                        no++;
                    }
                });

                orderContent += '<tr><td colspan="2" style="background-color: transparent !important;">&nbsp;</td></tr>';
                orderContent += '<tr><td style="float:right; padding-right: 6px;background-color: transparent !important;">Total Amount:</td><td style="background-color: transparent !important; text-align: center"> £' + orderContentData['amount'] + '</td></tr>';
                orderContent += '</tbody></table>'

                $("#order_id_label").html('#' + orderID);
                $("#order-content").html(orderContent);

                // Order Status Updates..
                $('#acceptOrderButton').click(function (e) {
                    var orderID = $.parseJSON($(this).attr('data-orderid'));
                    updateOrderStatus(orderID, 1);
                    setTimeout(function () {
                        displayOrders();
                    }, 100);
                });
                $('#completeOrderButton').click(function (e) {
                    var orderID = $.parseJSON($(this).attr('data-orderid'));
                    updateOrderStatus(orderID, 3);
                    setTimeout(function () {
                        displayOrders();
                    }, 100);
                });
                $('#cancelOrderButton').click(function (e) {
                    var orderID = $.parseJSON($(this).attr('data-orderid'));
                    updateOrderStatus(orderID, 2);
                    setTimeout(function () {
                        displayOrders();
                    }, 100);
                });

            });

            {% if menu %}
                $(document).ready(function () {

                    var JSONtext = '{{ menu | safe }}';
                    if (JSONtext.length !== 46) {
                        $('#menu_info_text').hide();
                    }
                    JSON_to_form(JSONtext);

                });
            {% endif %}
        });

    </script>

{% endblock %}